.d4{
    width: 100%;
    background-color: white;
    height: 550px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 500px;
}
.d4 img{
    margin-top: 40px;
    margin-left: 20px;
    width: 700px;
}
.d44{
    padding: 20px;
}
.d44 p{
    opacity: 0.6;
}
@media only screen and (max-width:768px){
    .d4{
        width: 100%;
        background-color: white;
        height: 900px;
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: 500px 500px;
    }
    .d4 img{
        margin-top: 40px;
        margin-left: 70px;
        width: 600px;
    }
}
@media only screen and (max-width:425px){
    .d4{
        width: 100%;
        background-color: white;
        height: 900px;
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: 500px 500px;
    }
    .d4 img{
        width: 400px;
        margin-top: 40px;
        margin-left: 10px;
    }
    .d44{
        margin-top: -200px;
    }
}